{% for item in items %}
{% if item['status'] != 'delivered' %}
<p>
ID:     {{ item['sessionId'] }}<br />
Subject: {{ item['subject'] }}<br />
From:   {{ item['from'] }}<br />
To:     {{ item['to'] }}<br />
Time:   {{ item['datetime'] }}<br />
Status: {{ item['status'] }}<br />
Error:  {{ item['errorDetail'] }}<br />
SPF:    {{ item['spf'] }}<br />
DKIM:   {{ item['dkim'] }}<br />
DMARC:  {{ item['dmarc'] }}<br />
</p>
{% endif %}
{% endfor %}
